#rechercherMenu {
    -fx-focus-color: #FF9E00;
    -fx-faint-focus-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-background-color: white;
    -fx-background-radius: 10.0;
    
}

#miniTunisie {
    
    -fx-background-color: transparent;-fx-border: none;
}

#rechercherPanel {
    
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);

    -fx-background-radius: 10.0;
}

#top {
    -fx-focus-color: #FF9E00;
    -fx-faint-focus-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-background-color: #B1B1B1;

  
}
#accueil0{
     -fx-background-color: #FFFFFF;
    
}

#textarea {
    
    -fx-focus-color: #FF9E00;
    -fx-faint-focus-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-background-color: white;

}

#scroll{
    
        
    -fx-faint-focus-color: transparent;
     -fx-focus-color: transparent;
    -fx-background-color: transparent;
 
    
}

#ratingScale{
    -fx-scale-x : 0.5;
    -fx-scale-y : 0.5;
    
}
#buttonbot{
   



 
    
}
#buttontop{
   
    
}