/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 17, 2016, 8:38:33 PM
    Author     : Shamileth
*/


#b {
    -fx-background-image: url('profilepic.jpg');
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
    -fx-background-size: 182 182;
    -fx-border-radius: 10 ;
    -fx-background-radius: 10 ;
}




#c1 {
    -fx-background-image: url('modifinfo.png');
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
    -fx-background-size: 124 128;
}
#c2 {
    -fx-background-image: url('profil.png');
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
    -fx-background-size: 124 128;
}
#c3 {
    -fx-background-image: url('notification.png');
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
    -fx-background-size: 124 128;
}
#c4 {
    -fx-background-image: url('reclamation.png');
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
    -fx-background-size: 124 128;
}
#c5 {
    -fx-background-image: url('consultp.png');
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
    -fx-background-size: 124 128;
}
#c6 {
    -fx-background-image: url('deconnecter.png');
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
    -fx-background-size: 124 128;
}
#info {
    -fx-background-color: #cccccc;
    -fx-border-style: solid;
}
